h1 {
	margin:10px 5px 0 50px;
}

h1 span {
	cursor:pointer;
	float:right;
	font-size:0.5em;
	line-height:41px;
	margin-right:5px;
}

li {
	list-style-type:none;
}

.checkersContainer {
	float:left;
	width:460px;
}

.checkersContainer + .ui-content {
	margin:0 34px;
}

.checkersHeader {
	float:left;
	height:50px;
	padding:0;
	margin:0 5px 0 55px;
}

.checkersSidebar {
	float:left;
	width:50px;
	padding:0;
	margin:5px 0 5px 0;
}

.checkersHeader li,
.checkersSidebar li {
	float:left;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
}

.ui-mobile label {
	font-weight:bold;
}

.ui-mobile div + label {
	border-top:1px solid #ddd;
	margin-top:.8em;
	padding-top:.4em;
}

.moves {
	padding:0;
	margin:0;
	max-height:250px;
	overflow-y:auto;
}

.checkersBoard {
	float:left;
	width:400px;
	border:5px solid;
}

.checkersboard div {
	width:50px;
	height:50px;
	display:inline-block;
	background-image:url('checkers.png');
	background-repeat:no-repeat;
	background-position:-999px -999px;
}

.checkersBoard .p1 {
	background-position:top left;
}

.checkersBoard .p2 {
	background-position:bottom left;
}

.checkersBoard .k1 {
	background-position:top right;
}

.checkersBoard .k2 {
	background-position:bottom right;
}

.white {
	background-color:white;
}

.black {
	background-color:#999;
	color:white;
}

.checkers {
	display:none;
}